$breakpoint-tablet: 768px

.card>svg
    width: 100%
    height: 180px

.card>svg>rect
    width: 100%
    height: 100%
    opacity: 0.0

.card>svg>image
    width: 100%
    height: 100%

.navbar
    width: 100%

// .card
//     width: 18rem

.hide-tablet-image
    @media screen and (max-width: $breakpoint-tablet)
        display: none !important

.hide-tablet
    display: auto

    @media screen and (max-width: $breakpoint-tablet)
        display: none

.show-tablet
    display: auto

    @media screen and (min-width: $breakpoint-tablet)
        display: none
    
#contentContainer
    max-width: 1280px
