$breakpoint-tablet: 768px

body 
    background-image: url("../img/macau-photo-agency-as5EWdBWKqk-unsplash.jpg")
    background-attachment: fixed
    background-repeat: no-repeat
    background-color: #000000
    background-position: center
    overflow: hidden    

.min-w
    min-width: 240px !important

.aspect-ratio-box 
    position: relative

// Create a pseudo element that uses padding-bottom to take up space
.aspect-ratio-box::after 
    display: block
    content: ''
    // 2:1 aspect ratio (percentage = (100 / 2) * 1)
    padding-bottom: 50%

// Image is positioned absolutely relative to the parent element
.aspect-ratio-box>img 
    // Image should match parent box size
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    object-fit: contain

.card>svg
    width: 100%
    height: 180px

.card>svg>rect
    width: 100%
    height: 100%
    opacity: 0.0

.card>svg>image
    width: 100%
    height: 100%

.navbar
    width: 100%

.dropdown-item
    color: rgba(255,255,255,.5)

.dropdown-item:hover 
    text-decoration: none
    color: rgba(255,255,255,.75)
    background-color: transparent !important

.hide-tablet-image
    @media screen and (max-width: $breakpoint-tablet)
        display: none !important

.hide-tablet
    display: auto

    @media screen and (max-width: $breakpoint-tablet)
        display: none

.show-tablet
    display: auto

    @media screen and (min-width: $breakpoint-tablet)
        display: none

.scroller
    max-height: 100vh
    overflow-y: auto
    margin-top: 56px
    
#contentContainer
    max-width: 1280px
